version: "3.9"

services:
  app:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - API_HOST=0.0.0.0
      - API_PORT=8000
      - API_RELOAD=True
    command: uvicorn src.spam_classifier.server:app --host 0.0.0.0 --port 8000 --reload
